li.combatant {
  padding-right: 0.5em;
  border: 3px;
  border-radius: 5px;
  border-color: #444444;
  border-style: solid !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  margin: 4px;
}

#combat #combat-tracker .combatant .token-initiative {
  padding-left: 0.5em;
  align-items: center;
  display: flex;
  position: relative;
  flex: 0 0 auto;
}

#combat #combat-tracker li.combatant.turn-done {
  color: inherit;
  text-decoration: inherit;
}

#combat #combat-controls .combat-control[data-control="previousTurn"],
#combat #combat-controls .combat-control[data-control="nextTurn"] {
  display: none !important;
}

#lancer-initiative-settings input[type="color"] {
    flex: 0 0 3rem;
    cursor: pointer;
}

#lancer-initiative-settings #preview-combat {
  padding: 0px;
  margin: 1rem;
}
